---
layout: default
title: "Home"     #header for the website tab home default
subtitle: "Please watch the video. I promise it is related to this blog (it made me cry)."
---

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}

  
{% include embed.html url="https://www.youtube.com/embed/fzQ6gRAEoy0" %}
<html>
<body>
    <p><center>Please watch the video. I promise it is related to this blog (beware of tears).</center></p>
</body>
</html>
